@media screen and (max-width: 767px)
{
.outermost
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f8fafc;
}

.modal-row
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-body-div
{
    width: 100%;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 20px;
}

.heading
{
    background-color: rgb(238, 236, 247);
    border-bottom: 1px solid grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 8px 6px;
    font-weight: 500;
}

.btn-div
{
    padding: 10px;
}

.modal-trigger
{
    background-color: rgb(86, 157, 228);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    padding: 5px;
}

/* ===================================================================== */


form label
{
    text-transform: capitalize;
    color: #2f3636;
    font-size: 14px;
    padding: 0;
}

form input
{
    padding: 10px 5px;
    outline: none;
    border: 1px solid rgb(204, 197, 197);
}


.upper-flex-div
{
    display: flex;
    justify-content: space-between;
}

.mainform
{
    display: flex;
    width: 49%;
    margin-bottom: 5px;
}

.mainform input
{
    outline: none;
    padding: 5px;
}

#red-brdr input
{
    border: 1px solid red;
}

#red-msg
{
    color: red;
    font-style: italic;
    font-size: 14px;
}

#pass-msg
{
    font-style: italic;
    font-size: 12px;
    color: #4d5050;
}

.mainform-pass
{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.lower-flex-div
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lowermost-forms
{
    display: flex;
    flex-direction: column;
    width: 32%;
}

.lowermost-forms label
{
    color: #2f3636;
    padding: 0;
    font-size: 14px;
}



}













































@media screen and (min-width: 768px) and (max-width: 991px)
{
.outermost
{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 10px;
    background-color: #f8fafc;
}

.modal-row
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 7px;
}

.modal-body-div
{
    width: 49%;
    border: 1px solid grey;
    border-radius: 6px;
}

.heading
{
    background-color: rgb(238, 236, 247);
    border-bottom: 1px solid grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 8px 6px;
    font-weight: 500;
}

.btn-div
{
    padding: 10px;
}

.modal-trigger
{
    background-color: rgb(86, 157, 228);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    padding: 5px;
}

/* ===================================================================== */


form label
{
    text-transform: capitalize;
    color: #2f3636;
    font-size: 14px;
    padding: 0;
}

form input
{
    padding: 10px 5px;
    outline: none;
    border: 1px solid rgb(204, 197, 197);
}


.upper-flex-div
{
    display: flex;
    justify-content: space-between;
}

.mainform
{
    display: flex;
    flex-direction: column;
    width: 49%;
    margin-bottom: 15px;
}

.mainform input
{
    outline: none;
    border: none;
    padding: 5px;
}

#red-brdr input
{
    border: 1px solid red;
}

#red-msg
{
    color: red;
    font-style: italic;
    font-size: 14px;
}

#pass-msg
{
    font-style: italic;
    font-size: 12px;
    color: #4d5050;
}

.mainform-pass
{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.lower-flex-div
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lowermost-forms
{
    display: flex;
    flex-direction: column;
    width: 32%;
}

.lowermost-forms label
{
    color: #2f3636;
    padding: 0;
    font-size: 14px;
}



}










































@media screen and (min-width: 992px)
{
.outermost
{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 10px;
    background-color: #f8fafc;
}

.modal-row
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 7px;
}

.modal-body-div
{
    width: 49%;
    border: 1px solid grey;
    border-radius: 6px;
}

.heading
{
    background-color: rgb(238, 236, 247);
    border-bottom: 1px solid grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 8px 6px;
    font-weight: 500;
}

.btn-div
{
    padding: 10px;
}

.modal-trigger
{
    background-color: rgb(86, 157, 228);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    padding: 5px;
}

/* ===================================================================== */


form label
{
    text-transform: capitalize;
    color: #2f3636;
    font-size: 14px;
    padding: 0;
}

form input
{
    padding: 10px 5px;
    outline: none;
    border: 1px solid rgb(204, 197, 197);
}


.upper-flex-div
{
    display: flex;
    justify-content: space-between;
}

.mainform
{
    display: flex;
    flex-direction: column;
    width: 49%;
    margin-bottom: 15px;
}

.mainform input
{
    outline: none;
    border: none;
    padding: 5px;
}

#red-brdr input
{
    border: 1px solid red;
}

#red-msg
{
    color: red;
    font-style: italic;
    font-size: 14px;
}

#pass-msg
{
    font-style: italic;
    font-size: 12px;
    color: #4d5050;
}

.mainform-pass
{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.lower-flex-div
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lowermost-forms
{
    display: flex;
    flex-direction: column;
    width: 32%;
}

.lowermost-forms label
{
    color: #2f3636;
    padding: 0;
    font-size: 14px;
}


}







