<div class="outermost">

    <div class="modal-row">
        <div class="modal-body-div">     
            <div class="heading">Topped Modals</div>
            
            <div class="btn-div">
                <button type="button" class="modal-trigger" data-bs-toggle="modal" data-bs-target="#modal1">
                    Launch demo modal
                </button>
                
                <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal Header</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique nobis, reiciendis id quo repudiandae corporis, iure quas suscipit quos voluptatum delectus. Omnis eligendi asperiores molestiae blanditiis eius, consectetur officia placeat quaerat rerum soluta reiciendis odit nostrum. Molestiae ipsum dolorum cumque!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-body-div">     
            <div class="heading">Centered Modals</div>
            
            <div class="btn-div">
                <button type="button" class="modal-trigger" data-bs-toggle="modal" data-bs-target="#modal2">
                    Launch demo modal
                </button>
                
                <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal Header</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique nobis, reiciendis id quo repudiandae corporis, iure quas suscipit quos voluptatum delectus. Omnis eligendi asperiores molestiae blanditiis eius, consectetur officia placeat quaerat rerum soluta reiciendis odit nostrum. Molestiae ipsum dolorum cumque!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-row">
        <div class="modal-body-div">     
            <div class="heading">Centered with Form</div>
            
            <div class="btn-div">
                <button type="button" class="modal-trigger" data-bs-toggle="modal" data-bs-target="#modal3">
                    Launch demo modal
                </button>
                
                <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal Header</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="upper-flex-div">
                                        <div class="mainform" id="red-brdr">
                                            <label for="f-name">First Name</label>
                                            <input type="text" id="f-name" placeholder="Jane">
                                            <label id="red-msg" for="f-name">Please fill out this field.</label>
                                        </div>
                                        
                                        <div class="mainform">
                                            <label for="l-name">Last Name</label>
                                            <input type="text" id="l-name" placeholder="Doe">
                                        </div>
                                    </div>
                    
                                    <div class="mainform-pass">
                                        <label for="password">Password</label>
                                        <input type="password" id="password" placeholder="******************">
                                        <label id="pass-msg" for="password">Make it as long and as crazy as you'd like</label>
                                    </div>
                    
                                    <div class="lower-flex-div">
                                        <div class="lowermost-forms">
                                            <label for="l-name">City</label>
                                            <input type="text" id="city" placeholder="Alberquerque">
                                        </div>
                    
                                        <div class="lowermost-forms">
                                            <label for="l-name">State</label>
                                            <input type="text" id="state" placeholder="New Mexico">
                                        </div>
                    
                                        <div class="lowermost-forms">
                                            <label for="l-name">Zip Code</label>
                                            <input type="text" id="zip" placeholder="90210">
                                        </div>
                                    </div>
                                </form>    
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Submit</button>
                                    <button type="button" class="btn btn-danger">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal-body-div">     
            <div class="heading">Large size Modals</div>
            
            <div class="btn-div">
                <button type="button" class="modal-trigger" data-bs-toggle="modal" data-bs-target="#modal4">
                    Launch demo modal
                </button>
                
                <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal Header</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique nobis, reiciendis id quo repudiandae corporis, iure quas suscipit quos voluptatum delectus. Omnis eligendi asperiores molestiae blanditiis eius, consectetur officia placeat quaerat rerum soluta reiciendis odit nostrum. Molestiae ipsum dolorum cumque!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

