<div class="outermost">

    <div class="sec1">

        <div class="outer" id="one">
            <div>$244</div>
            <div>Total Sales</div>
        </div>

        <div class="outer" id="two">
            <div>$199.4</div>
            <div>Total Cost</div>
        </div>

        <div class="outer" id="three">
            <div>900</div>
            <div>Total Users</div>    
        </div>

        <div class="outer" id="four">
            <div>500</div>
            <div>Total Products</div>
        </div>

    </div>

    <div class="sec2">

        
        <div class="heading"> 
            Trending Categories
        </div>

        <table>

            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Last</th> 
                <th>Current</th>
                <th>Change</th>
            </tr>
            
            <tr>
                <td>1</td>
                <td><button id="twitter">Twitter</button></td>
                <td>4500</td> 
                <td>4600</td>
                <td class="green"><i class="fa fa-arrow-up" aria-hidden="true"></i> 5%</td>
            </tr>
            
            <tr>
                <td>2</td>
                <td><button id="facebook">Facebook</button></td>
                <td>10000</td> 
                <td>3000</td>
                <td class="red"><i class="fa fa-arrow-down" aria-hidden="true"></i> 65%</td>
            </tr>
            
            <tr>
                <td>3</td>
                <td><button id="amazon">Amazon</button></td>
                <td>10000</td> 
                <td>3000</td>
                <td class="red"><i class="fa fa-arrow-down" aria-hidden="true"></i> 65%</td>
            </tr>
            
            <tr>
                <td>4</td>
                <td><button id="microsoft">Microsoft</button></td>
                <td>3000</td> 
                <td>10000</td>
                <td class="green"><i class="fa fa-arrow-up" aria-hidden="true"></i> 65%</td>
            </tr>
        </table>
            
    </div>

    <div class="sec3">

        <div class="heading">Progress Among Projects</div>
        <div class="outerbar"><div id="inner1">45%</div></div>
        <div class="outerbar"><div id="inner2">55%</div></div>
        <div class="outerbar"><div id="inner3">65%</div></div>
        <div class="outerbar"><div id="inner4">75%</div></div>

    </div>

    <div class="sec4">

        <div class="containerr">
            <div><img class="coverp" src="assets/1.jpg" alt="cover"></div>
            <div class="pfpdiv"><img class="pfp" src="assets/3.jpg" alt="pfp"></div>
            <div class="text">Kuswa Tul Ka'aba</div>
            <div class="texttt">Hello, I'm a Web Developer</div>
            <div class="hrside">
                <div class="innertext">1 Photo</div>
                <div class="vl"></div>
                <div class="innertext">0 Friends</div>
            </div>
        </div>

        <div class="containerr">
            <div><img class="coverp" src="assets/1.jpg" alt="cover"></div>
            <div class="pfpdiv"><img class="pfp" src="assets/3.jpg" alt="pfp"></div>
            <div class="text">Kuswa Tul Ka'aba</div>
            <div class="texttt">Hello, I'm a Web Developer</div>
            <div class="hrside">
                <div class="innertext">1 Photo</div>
                <div class="vl"></div>
                <div class="innertext">0 Friends</div>
            </div>
        </div>

        <div class="containerr">
            <div><img class="coverp" src="assets/1.jpg" alt="cover"></div>
            <div class="pfpdiv"><img class="pfp" src="assets/3.jpg" alt="pfp"></div>
            <div class="text">Kuswa Tul Ka'aba</div>
            <div class="texttt">Hello, I'm a Web Developer</div>
            <div class="hrside">
                <div class="innertext">1 Photo</div>
                <div class="vl"></div>
                <div class="innertext">0 Friends</div>
            </div>
        </div>
    </div>
</div>  