<div style="position: relative;">
    <i (click)="clickmeCalled()" class="bars fa-solid fa-bars m-2"></i>
</div>
<div  class="lefsidebar" *ngIf="showsidebar">


    <div class="btn" class="element" >
        <i class="m-2 fa-solid fa-gauge-high"></i>
        <div  routerLink="dashboard">Dashboard</div>
    </div>
    <div class="btn" class="element">
        <i class="m-2 fa-brands fa-wpforms"></i>
        <div  routerLink="forms">Forms</div>
    </div>
    <div class="btn" class="element">
        <i class="m-2 fa-solid fa-braille"></i>
        <div  routerLink="buttons">Buttons</div>
    </div>
    <div class="element">
        <i class="m-2 fa-solid fa-table"></i>
        <div>Tables</div>
    </div>
    <div class="element">
        <i class="m-2 fa-brands fa-uikit"></i>
        <div>UI Components</div>
    </div>
    <div class="element">
        <i class="m-2 fa-solid fa-square-binary"></i>
        <div>Modals</div>
    </div>
    <div class="element">
        <i class="m-2 fa-regular fa-file-lines"></i>
        <div>Pages</div>
    </div>
    <div class="element">element</div>
    <div class="element">element</div>
    <div class="element">element</div>
    <div class="element">element</div>


</div>