<aside class="sidebar">
    <ul class="sidemenu p-1">
      <li class=" py-3 px-2 p-lg-1" routerLink="dashboard">
      <a ><i class="fas fa-tachometer-alt float-left ms-2"></i> Dashboard</a>
        <span><i class="fas fa-angle-right ms-1 mt-lg-1"></i></span> 
      </li>
      <li class=" py-3 px-2 " routerLink="forms">
        <a><i class="fab fa-wpforms float-left ms-2"></i> Form</a>
        <span><i class="fas fa-angle-right mt-lg-1"></i></span>
      </li>
      <li class=" py-3 px-2 " routerLink="buttons">
        <a><i class="fas fa-grip-horizontal float-left ms-2"></i> Buttons</a>
        <span><i class="fas fa-angle-right"></i></span>
      </li>
      <li class=" py-3 px-2 " routerLink="tables">
        <a><i class="fas fa-table float-left ms-2"></i> Table</a>
        <span><i class="fas fa-angle-right"></i></span>
      </li>
      <li class="py-3 px-2 " routerLink="UIComponent">
        <a><i class="fab fa-uikit float-left ms-2"></i> UI Components</a>
        <span><i class="fas fa-angle-right"></i></span>
      </li>
      <li class="py-3 px-2 " routerLink="modals">
        <a><i class="fas fa-square float-left ms-2"></i> Modals</a>
        <span><i class="fas fa-angle-right"></i></span>
      </li>

          <li class="py-3 px-2"><a class="mx-3" routerLink="loginform"> Login Page</a><span><i class="fas fa-angle-right"></i></span></li>
          <li class="py-3 px-2"><a class="mx-3" routerLink="register"> Register Page</a><span><i class="fas fa-angle-right"></i></span></li>
    </ul>
    </aside>
