<div>
    <div class="top container-fluid">
        <div class="upperBlocks" style="background-color: #e46050;">
            <div>$244</div>
            <div>Total Sales</div>
        </div>

        <div class="upperBlocks" style="background-color: #52bcdc;">
            <div>$199.4</div>
            <div>Total Cost</div>
        </div>

        <div class="upperBlocks" style="background-color: #f4ab43;">
            <div>900</div>
            <div>Total Users</div>
        </div>

        <div class="upperBlocks" style="background-color: #72b159;">
            <div>500</div>
            <div>Total Products</div>
        </div>
    </div>

    <!-- table -->

   <div class="ouetr-table">
    <div class="heading">Trending Catogaries</div>
    <table class="table">
      <thead class="bg-grey-dark">
        <tr >
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Last</th>
          <th scope="col">Current</th>
          <th scope="col">Change</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>
            <button class="btn btn-success">Twitter</button>
          </td>
          <td>4500</td>
          <td>4600</td>
          <td>5%</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>
            <button class="btn btn-success">Facebook</button>
          </td>
          <td>10000</td>
          <td>3000</td>
          <td>65%</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>
            <button class="btn btn-success">Amazon</button>
          </td>
          <td>10000</td>
          <td>3000</td>
          <td>65%</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>
            <button class="btn btn-success">Microsoft</button>
          </td>
          <td>10000</td>
          <td>3000</td>
          <td>65%</td>

        </tr>
      </tbody>
    </table>

   </div>
    <!-- poll -->

    <div class="Bar-outer">
        <div class="poll-header">Progress Among Projects</div>
        <div>
            <div class="bar">
              <div class="bar1">45%</div>
            </div>
            <div class="bar">
              <div class="bar2">55%</div>
            </div>
            <div class="bar">
              <div class="bar3">65%</div>
            </div>
            <div class="bar">
              <div class="bar4">75%</div>
            </div>
        </div>
    </div>

    <!-- profile tabs -->

   <div class="profileTabs">

    <!-- tab 1 -->
    <div class="profile">
        <img class="image1" src="../../../assets/w1Bdydo.jpeg" alt="">
      <div class="chotiImage">
        <img class="image2" src="../../../assets/8Km9tLL.jpeg" alt="">
      </div>
      <div class="profileName">
        <div class="name">Olivia Dunham</div>
        <div class="paragraph">Hello, i'm from another the other side!</div>
      </div>
      <div class="bottomText">
        <div class="photos">
          <div>34</div>
          <div>Photos</div>
        </div>
        <div class="friends">
          <div>42</div>
          <div>Friends</div>
        </div>
      </div>
    </div>
    <!-- tab 2 -->
    <div class="profile">
      <img class="image1" src="../../../assets/w1Bdydo.jpeg" alt="">
    <div class="chotiImage">
      <img class="image2" src="../../../assets/8Km9tLL.jpeg" alt="">
    </div>
    <div class="profileName">
      <div class="name">Olivia Dunham</div>
      <div class="paragraph">Hello, i'm from another the other side!</div>
    </div>
    <div class="bottomText">
      <div class="photos">
        <div>34</div>
        <div>Photos</div>
      </div>
      <div class="friends">
        <div>42</div>
        <div>Friends</div>
      </div>
    </div>
  </div>
    <!-- tab 3 -->
    <div class="profile">
      <img class="image1" src="../../../assets/w1Bdydo.jpeg" alt="">
    <div class="chotiImage">
      <img class="image2" src="../../../assets/8Km9tLL.jpeg" alt="">
    </div>
    <div class="profileName">
      <div class="name">Olivia Dunham</div>
      <div class="paragraph">Hello, i'm from another the other side!</div>
    </div>
    <div class="bottomText">
      <div class="photos">
        <div>34</div>
        <div>Photos</div>
      </div>
      <div class="friends">
        <div>42</div>
        <div>Friends</div>
      </div>
    </div>
  </div>

   </div>


    
</div>
