<header class="bgNav">
    <div class="navBody">
        <div class="p-1 mx-3 d-inline-flex align-items-center">
         <i class="fas fa-bars pr-3 text-white align-items-center" (click)="Togglebtn()" ></i>
          <h1 class="text-white p-2 mt-2 ps-4 logo" routerLink="">Logo</h1>
        </div>
        <div class="p-1 d-flex flex-row align-items-center">
         <i class="fas fa-user-circle mr-3 mr-md-2 text-white user"></i> 
         <a class="text-white p-2">Abdul Samad</a>
         </div>
    </div>
    </header>
    