<div class="header">
    <div class="left-side">
        <div class="left-logo">
            <!-- <i (click)="toggle()" class="fa-solid fa-bars m-2"></i> -->

            Logo</div>
    </div>

    <div class="right-side">
        <a  href="" class="m-1 logo">Github</a>
        <img class="image m-2" src="../../../assets/1000060132.webp" alt="logo">
        <div class="m-2 name">Maryam Awais</div>
    </div>
</div>
<div class="maryam">

    <!-- <app-leftside-bar class="" [sideBar]="showSideBar"></app-leftside-bar> -->
</div>    