.image
{
    width: 5%;
    border-radius: 50%;
}

.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}

.left-side
{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-self: start; */
    width: 10%;
}



.right-side
{
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: end;
}
.logo
{
    text-decoration:none;
    color: white;
}
.left-logo
{
    margin-left: 35px;
}

@media screen and (max-width:768px) {
    .header
    {
        width: 100%;
    }
    .name
    {
        display: none;
    }
    .logo
    {
        display: none;
    }
    .image
    {
        width: 18%;
    }
    .left-logo
    {
        margin-left: 20px;
    }
    .left-side
    {
        width: 102%;
    }
    
}