main{
    padding: 0.75rem;
    background-color: #FAFAFA;
    flex: 1 1 0%;
    overflow: hidden;
}
.body{
    display: flex;
    flex-direction:column;
}
.row1{
    display: flex;
    flex: 1 1 0%;
    margin: 0 0.5rem;
    flex-direction: column;
}
.box1{
    width: 100%;
    margin-bottom: 0.5rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
}
.heading{
    padding: 0.5rem 0.75rem;
    border: 1px solid #e2e8f0;
    background-color: #edf2f7;
}
.btns{
    padding: 0.75rem;
}
.btn1{
    padding: 0.5rem 1rem;
    color: #2779bd;
    font-weight: 600;
    margin: 0.5rem 0.3rem;
    border:1px solid #eaedf3;
    border-radius: 0.25rem;
    background-color: transparent;
}
.btn1:hover{
    background-color:#2779bd;
    color: #fff;
}
.btn2{
    padding: 0.5rem 1rem;
    color: #1f9d55;
    font-weight: 600;
    margin: 0.5rem 0.3rem;
    border:1px solid #eaedf3;
    border-radius: 0.25rem;
    background-color: transparent;
}
.btn2:hover{
    background-color:#1f9d55;
    color: #fff;
}
.btn3{
    padding: 0.5rem 1rem;
    color: black;
    font-weight: 600;
    margin: 0.5rem 0.3rem;
    border:1px solid #eaedf3;
    border-radius: 0.25rem;
    background-color: transparent;
}
.btn3:hover{
    background-color:#ed8936;
    color: #fff;
}
.btn4{
    padding: 0.5rem 1rem;
    color: #c53030;
    font-weight: 600;
    margin: 0.5rem 0.3rem;

    border:1px solid #eaedf3;
    border-radius: 0.25rem;
    background-color: transparent;
}
.btn4:hover{
    background-color:#c53030;
    color: #fff;
}
.box2{
    width: 100%;
    margin: 0 0.5rem 0.5rem 0.5rem ;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
}
.btn11{
    padding: 0.4rem 1rem;
    color: #fff;
    font-weight: 700;
    margin: 0.3rem;
    border:1px solid #eaedf3;
    border-radius: 0.25rem;
    background-color: #2779bd;
}
.btn11:hover{
    background-color:#2b6cb0;
    color: #fff;
}
.btn21{
    padding: 0.4rem 1rem;
    color: #fff;
    font-weight:700;
    margin: 0.3rem;
    border:1px solid #eaedf3;
    border-radius: 0.25rem;
    background-color: #48bb78;
}
.btn21:hover{
    background-color:#276749;
    color: #fff;
}
.btn31{
    padding: 0.4rem 1rem;
    color: #fff;
    font-weight:700;
    margin: 0.3rem;
    border:1px solid #eaedf3;
    border-radius: 0.25rem;
    background-color: #ed8936;
}
.btn31:hover{
    background-color:#9c4221;
    color: #fff;
}
.btn41{
    padding: 0.4rem 1rem;
    color: #fff;
    font-weight:700;
    margin: 0.3rem;
    border:1px solid #eaedf3;
    border-radius: 0.25rem;
    background-color: #f56565;
}
.btn41:hover{
    background-color:#9b2c2c;
    color: #fff;
}
.row2{
    display: flex;
    flex: 1 1 0%;
    margin: 0 0.5rem;
    flex-direction: column;
}
.row2 .box1{
    width: 100%;
    margin-bottom: 0.5rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
}
.row2 .box1 .heading{
    padding: 0.5rem 0.75rem;
    border: 1px solid #e2e8f0;
    background-color: #edf2f7;
}
.row2 .box1 .btns{
    padding: 0.75rem;
}
.row2 .box1 .btns .btn1{
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 600;
    margin: 0.5rem 0.3rem;
    border:1px solid #eaedf3;
    border-radius: 2rem;
    background-color: #2779bd;
}
.row2 .box1 .btns .btn1:hover{
    background-color:#2c5282;
    color: #fff;
}
.row2 .box1 .btns .btn2{
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 600;
    margin: 0.5rem 0.3rem;
    border:1px solid #eaedf3;
    border-radius: 2rem;
    background-color: #48bb78;
}
.row2 .box1 .btns .btn2:hover{
    background-color:#276749;
    color: #fff;
}
.row2 .box1 .btns .btn3{
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 600;
    margin: 0.5rem 0.3rem;
    border:1px solid #eaedf3;
    border-radius: 2rem;
    background-color: #ed8936;
}
.row2 .box1 .btns .btn3:hover{
    background-color:#9c4221;
    color: #fff;
}
.row2 .box1 .btns .btn4{
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 600;
    margin: 0.5rem 0.3rem;
    border:1px solid #eaedf3;
    border-radius: 2rem;
    background-color: #f56565;
}
.row2 .box1 .btns .btn4:hover{
    background-color:#9b2c2c;
    color: #fff;
}
.row2 .box2{
    width: 100%;
    margin: 0 0.5rem 0.5rem 0.5rem ;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
}
.row2 .box2 .btns .btn11{
    padding: 0.4rem 1rem;
    color: #fff;
    font-weight: 700;
    margin: 0.3rem;
    border:1px solid #2b6cb0;
    border-radius: 0.25rem;
    background-color: #2779bd;
}
.row2 .box2 .btns .btn11:hover{
    background-color:#2b6cb0;
    color: #fff;
}
.row2 .box2 .btns .btn21{
    padding: 0.4rem 1rem;
    color: #fff;
    font-weight:700;
    margin: 0.3rem;
    border:1px solid #276749;
    border-radius: 0.25rem;
    background-color: #48bb78;
}
.row2 .box2 .btns .btn21:hover{
    background-color:#276749;
    color: #fff;
}
.row2 .box2 .btns .btn31{
    padding: 0.4rem 1rem;
    color: #fff;
    font-weight:700;
    margin: 0.3rem;
    border:1px solid #9c4221;
    border-radius: 0.25rem;
    background-color: #ed8936;
}
.row2 .box2 .btns .btn31:hover{
    background-color:#9c4221;
    color: #fff;
}
.row2 .box2 .btns .btn41{
    padding: 0.4rem 1rem;
    color: #fff;
    font-weight:700;
    margin: 0.3rem;
    border:1px solid #9b2c2c;
    border-radius: 0.25rem;
    background-color: #f56565;
}
.row2 .box2 .btns .btn41:hover{
    background-color:#9b2c2c;
    color: #fff;
}
.row3{
    display: flex;
    flex: 1 1 0%;
    margin: 0 0.5rem;
    flex-direction: column; 
}
.row3 .box1{
    width: 100%;
    margin-bottom: 0.5rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
}
.row3 .box1 .btns .sec1{
    display: inline-flex;
    margin-right: 0.5rem;
}
.row3 .box1 .btns .sec1 .btn1{
    color:#1a202c;
    padding: 0.5rem 1rem;
    border-width: 0;
    font-weight: 700;
    background-color:#edf2f7;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
}
.row3 .box1 .btns .sec1 .btn1:hover{
    background-color:#a0aec0;  
}
.row3 .box1 .btns .sec1 .btn2{
    color:#1a202c;
    padding: 0.5rem 1rem;
    font-weight: 700;
    background-color:#edf2f7;
    border-width: 0;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
}
.row3 .box1 .btns .sec1 .btn1:hover{
    background-color:#a0aec0;  
}
.row3 .box1 .btns .sec2{
    display: inline-flex;
    margin-right: 0.5rem;
}
.row3 .box1 .btns .sec2 .btn1{
    color:#234e52;
    padding: 0.5rem 1rem;
    border-width: 0;
    font-weight: 700;
    background-color:#b2f5ea;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
}
.row3 .box1 .btns .sec2 .btn1:hover{
    background-color:#b2f5ea;  
}
.row3 .box1 .btns .sec2 .btn2{
    color:#234e52;
    padding: 0.5rem 1rem;
    font-weight: 700;
    background-color:#b2f5ea;
    border-width: 0;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
}
.row3 .box1 .btns .sec2 .btn2:hover{
    background-color:#b2f5ea;  
}
.row3 .box1 .btns .sec3{
    display: inline-flex;
}
.row3 .box1 .btns .sec3 .btn1{
    color:#742a2a;
    padding: 0.5rem 1rem;
    border-width: 0;
    font-weight: 700;
    background-color:#fed7d7;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
}
.row3 .box1 .btns .sec3 .btn1:hover{
    background-color:#742a2a;  
}
.row3 .box1 .btns .sec3 .btn2{
    color:#742a2a;
    padding: 0.5rem 1rem;
    font-weight: 700;
    background-color:#fed7d7;
    border-width: 0;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
}
.row3 .box1 .btns .sec3 .btn1:hover{
    background-color:#234e52;  
}
.row3 .box2{
    width: 100%;
    margin: 0 0.5rem 0.5rem 0.5rem ;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
}
.row3 .box2 .heading{
    background-color:#f7fafc;
}
.row3 .box2 .btns .btn1{
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: 700;
    border-bottom-width:4px;
    border-radius: 0.25rem;
    background-color: #4299e1;
    border-color: #2b6cb0;
    
}
.row3 .box2 .btns .btn1:hover{
    color: black;
    background-color: #bee3f8;
}
.row3 .box2 .btns .btn2{
    color: #1a202c;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-width:1px;
    border-color: #edf2f7;
}
.row3 .box2 .btns .btn2:hover{
    background-color: #a0aec0;
}
.row3 .box2 .btns .btn3{
    display: inline-flex;
    color: #1a202c;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-width:1px;
    border-radius: 0.25rem;
    border-color: #edf2f7;
    align-items: center;
    background-color: #edf2f7;
}
.row3 .box2 .btns .btn4{
    color: #fff;
    padding: 0.25rem 1rem;
    opacity: 0.5;
    font-weight: 700;
    cursor: not-allowed;
    border-radius: 0.25rem;
    background-color: #4299e1;
}
@media (max-width:767px){
    .row1 .box2{
        margin:1rem 0;
    }
    .row2 .box2{
        margin:1rem 0;
    }
    .row3 .box1 .btns .sec1{
        margin-bottom: 0.5rem;
    }
    .row3 .box1 .btns .sec2{
        margin-bottom: 0.5rem;
    }   
    .row3 .box1 .btns .sec3{
        margin-bottom: 0.5rem;
    }
}
@media (min-width:767px){
     .row1{
        flex-direction: row;
     }
     .row1 .box1{
        width:50%;
     }
     .row1 .box2{
        width:50%;
     }
     .row2{
        flex-direction: row;
     }
     .row2 .box1{
        width: 50%;
     }
     .row2 .box2{
        width: 50%;
     }
     .row3{
        flex-direction: row;
     }
     .row3 .box1{
        width: 50%;
     }
     .row3 .box2{
        width: 50%;
     }
     
}












