<!-- buttons -->
<div class="buttonsMain">
    <div class="buttonInner-Form">
        <!-- outline/solid buttons -->
        <div class="outlineSolid"> 
            <!-- outline button -->
            <div class="OutlineButton">
                <div class="outline-heading">Outline Buttons</div>
                <div class="buttonsinnerButtons">
                    <button class="outlineButton1">Button</button>
                    <button class="outlineButton2 m-1">Button</button>
                    <button class="outlineButton3 m-1">Button</button>
                    <button class="outlineButton4 m-1">Button</button>
                </div>
            </div>
             <!-- solid buttons -->
            <div class="solidButton">
                <div class="solid-heading">Solid Buttons</div>
                <div class="buttonsInnerButtons">
                    <button class="solidButton1">Button</button>
                    <button class="solidButton2 m-1">Button</button>
                    <button class="solidButton3 m-1">Button</button>
                    <button class="solidButton4 m-1">Button</button>
                </div>
            </div>
        </div>

        <!-- styles/bordered -->

        <div class="outlineSolid"> 
            <!-- styles button -->
            <div class="StyleButton">
                <div class="outline-heading">Buttons Styles</div>
                <div class="buttonsinnerButtons">
                    <button class="styleButton1">Button</button>
                    <button class="styleButton2 m-1">Button</button>
                    <button class="styleButton3 m-1">Button</button>
                    <button class="styleButton4 m-1">Button</button>
                </div>
            </div>
            <!-- bordered button -->
            <div class="borderedButton">
                <div class="solid-heading">Button Bordered</div>
                <div class="buttonsInnerButtons">
                    <button class="borderedButton1">Button</button>
                    <button class="borderedButton2 m-1">Button</button>
                    <button class="borderedButton3 m-1">Button</button>
                    <button class="borderedButton4 m-1">Button</button>
                </div>
            </div>
        </div>

        <!-- groups/miscel -->

        <div class="outlineSolid"> 
            <!-- groups button -->
            <div class="StyleButton">
                <div class="outline-heading">Button Groups</div>
                <div class="groupinnerButtons">
                    <div class="button1 m-1">
                        <button class="groupButton1">Prev</button>
                        <button class="groupButton11">Next</button>
                    </div>
                    <div class="button1 m-1">
                        <button class="groupButton2">Prev</button>
                        <button class="groupButton22">Next</button>
                    </div>
                    <div class="button1 m-1">
                        <button class="groupButton3">Prev</button>
                        <button class="groupButton33">Next</button>
                    </div>
                    
                </div>
            </div>
            <!-- Miscellaneous button -->
            <div class="borderedButton">
                <div class="solid-heading">Miscellaneous</div>
                <div class="buttonsInnerButtons">
                    <button class="Miscellaneous1 btn btn-primary">3D</button>
                    <button class="Miscellaneous2 m-1">Elevated Button</button>
                    <button class="Miscellaneous3 m-1">Download</button>
                    <button class="Miscellaneous4 m-1">Button</button>
                </div>
            </div>
        </div>
    </div>
</div>