@media screen and (max-width: 767px)
{
    
.outermost
{
    height: 100vh;
    background-image: url("/assets/bg-img.jpg");
	background-size: cover;
    display: flex;
    justify-content: center;
}

.error-box
{
    background-color: white;
    width: fit-content;
    flex-direction: column;
    display: flex;
    align-items: center;
    align-self: center;
    padding: 10px 20px;
    border-radius: 7px;
}

.text
{
    font-size: 1.2rem;
    color: rgb(27, 27, 27);
    font-weight: 500;
}

.return-btn
{
    font-size: 1.1rem;
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 5px 8px;
    margin: 0 3px;
    border-radius: 7px;
}

.return-btn:hover
{
    color: rgb(27, 27, 27);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(27, 27, 27);
    cursor: pointer;
}
}

@media screen and (min-width: 768px) and (max-width: 991px)
{
    
.outermost
{
    height: 100vh;
    background-image: url("/assets/bg-img.jpg");
	background-size: cover;
    display: flex;
    justify-content: center;
}

.error-box
{
    background-color: white;
    width: fit-content;
    flex-direction: column;
    display: flex;
    align-items: center;
    align-self: center;
    padding: 20px 30px;
    border-radius: 7px;
}

.text
{
    font-size: 1.2rem;
    color: rgb(27, 27, 27);
    font-weight: 500;
}

.return-btn
{
    font-size: 1.2rem;
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 5px 8px;
    margin: 0 3px;
    border-radius: 7px;
}

.return-btn:hover
{
    color: rgb(27, 27, 27);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(27, 27, 27);
    cursor: pointer;
}
}

@media screen and (min-width: 992px)
{
    
.outermost
{
    height: 100vh;
    background-image: url("/assets/bg-img.jpg");
	background-size: cover;
    display: flex;
    justify-content: center;
}

.error-box
{
    background-color: white;
    width: fit-content;
    flex-direction: column;
    display: flex;
    align-items: center;
    align-self: center;
    padding: 20px 60px;
    border-radius: 7px;
}

.text
{
    font-size: 1.2rem;
    color: rgb(27, 27, 27);
    font-weight: 500;
}

.return-btn
{
    font-size: 1.2rem;
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 5px 8px;
    margin: 0 3px;
    border-radius: 7px;
}

.return-btn:hover
{
    color: rgb(27, 27, 27);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(27, 27, 27);
    cursor: pointer;
}
}

