<div class="outermost">

    <div class="btn-row">

        <div class="button-set">
            <div class="heading">Outline Buttons</div>

            <div class="cluster">
                <button class="outline-one">Button</button>
                <button class="outline-two">Button</button>
                <button class="outline-three">Button</button>
                <button class="outline-four">Button</button>
            </div>
        </div>

        <div class="button-set">
            <div class="heading">Solid Buttons</div>

            <div class="cluster">
                <button class="solid-one">Button</button>
                <button class="solid-two">Button</button>
                <button class="solid-three">Button</button>
                <button class="solid-four">Button</button>
            </div>
        </div>

    </div>

    <div class="btn-row">

        <div class="button-set">
            <div class="heading">Buttons Style</div>

            <div class="cluster">
                <button class="style-one">Button</button>
                <button class="style-two">Button</button>
                <button class="style-three">Button</button>
                <button class="style-four">Button</button>
            </div>
        </div>

        <div class="button-set">
            <div class="heading">Button Bordered</div>

            <div class="cluster">
                <button class="bordered-one">Button</button>
                <button class="bordered-two">Button</button>
                <button class="bordered-three">Button</button>
                <button class="bordered-four">Button</button>
            </div>
        </div>
    </div>

    <div class="btn-row">

        <div class="button-set">
            <div class="heading">Button Groups</div>

            <div class="cluster grp-cluster">
                <div class="btn-grp">
                    <button class="group-one left-side">Prev</button>
                    <button class="group-one right-side">Next</button>
                </div>
                <div class="btn-grp">
                    <button class="group-two left-side">Prev</button>
                    <button class="group-two right-side">Next</button>
                </div>
                <div class="btn-grp">
                    <button class="group-three left-side">Prev</button>
                    <button class="group-three right-side">Next</button>
                </div>
            </div>
        </div>

        <div class="button-set">
            <div class="heading">Miscellaneous</div>

            <div class="cluster">
                <button class="misc-one">3D Button</button>
                <button class="misc-two">Elevated Button</button>
                <button class="misc-three"><i class="fa-solid fa-download"></i>Download</button>
                <button disabled="disabled" class="misc-four">Button</button>
            </div>
        </div>

    </div>

</div>