<div class="UIcomponents-outer">
    <div class="UIcomponents">
        <!-- alerts -->
        <div class="alerts">
            <!-- traditional alerts -->
            <div class="traditionalAlerts">
                <!-- header of traditional alerts -->
                <div class="headerTraditionalAlerts">
                    Traditional Alerts
                </div>
                <!-- body of traditional alerts -->
                 <div class="bodyTraditionalAlerts">
                    <!-- error alert -->
                    <div class="error-alert">
                        <div class="boldText">OOPS!</div>
                        <span class="text">This is an Error alert</span>
                        <div class="crossDiv">
                            <i class="fa-solid fa-xmark crossIcon"></i>
                        </div>
                    </div>
                    <!-- success alert -->
                    <div class="success-alert">
                        <div class="boldText">OOPS!</div>
                        <span class="text">This is an Success alert</span>
                        <div class="crossDiv">
                            <i class="fa-solid fa-xmark crossIcon"></i>
                        </div>
                    </div>
                    <!-- warning alert -->
                    <div class="warning-alert">
                        <div class="boldText">OOPS!</div>
                        <span class="text">This is an Warning alert</span>
                        <div class="crossDiv">
                            <i class="fa-solid fa-xmark crossIcon"></i>
                        </div>
                    </div>
                    <!-- info alert -->
                    <div class="info-alert">
                        <div class="boldText">OOPS!</div>
                        <span class="text">This is an Info alert</span>
                        <div class="crossDiv">
                            <i class="fa-solid fa-xmark crossIcon"></i>
                        </div>
                    </div>
                    <!-- solid blue alert -->
                    <div class="BlueAlert">
                        <div class="infoIcon">
                            <i class="fa-solid fa-info"></i>
                        </div>
                        <div class="infoText">
                            Something happened that you should know about.
                        </div>
                    </div>
                    <!-- solid congrats alert -->
                    <div class="congratsAlert">
                        <div class="infoIcon">
                            <i class="fa-solid fa-info"></i>
                        </div>
                        <div class="infoText">
                            Something happened that you should know about.
                        </div>
                    </div>
                 </div>
            </div>
            <!-- misc alerts -->
            <div class="miscAlert">
                <!-- misc Alert Header   -->
                 <div class="headerTraditionalAlerts">
                    Misc Alerts
                 </div>
                 <!-- misc alert body -->
                  <div class="bodyTraditionalAlerts">
                    <!-- be warned alert -->
                    <div class="BeWarnedAlert">
                        <div class="headerBeWarned">Be Warned</div>
                        <div>Something not ideal might be happening.</div>
                    </div>
                    <!-- danger alert -->
                    <div class="dangerAlert">
                        <!-- header Danger alert -->
                        <div class="headerDangerAlert">Danger</div>
                        <!-- body danger alert -->
                        <div class="bodyDangerAlert">Something not ideal might be happening.</div>
                    </div>
                    <!-- privacy policy alert -->
                    <div class="PrivacyAlert">
                        <div class="privacyInner">
                            <div class="privacyIcon">
                                <i class="icon fa-solid fa-circle-info"></i>
                            </div>
                            <div>
                                <div class="boldfont">Our privacy policy has changed</div>
                                <div class="privacyText">Make sure you know how these changes affect you.</div>
                            </div>
                        </div>
                    </div>
                    <!-- informational alert -->
                    <div class="informationalAlert">
                        <div class="boldfont">Informational message</div>
                        <div class="privacyText">Some additional text to explain said message</div>
                    </div>
                  </div>
            </div>
        </div>
        <!-- cards -->
        <div class="cards">
            <div class="cardsInner">
                <!-- cards header -->
                <div class="cardsHeader">Cards</div>
                <!-- cards body -->
                <div class="cardsBody">
                    <!-- card title -->
                     <div class="cardTitle">
                        <!-- uper wala portion -->
                        <div class="cardUpper ">
                            <div class="heading">Card Title</div>
                            <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit numquam porro saepe quo id quae nostrum modi.</div>
                        </div>
                        <!-- lower wala portion -->
                        <div class="cardLower">
                            <span class="hashtags" style="margin-right: 0.5rem;">#photography</span>
                            <span class="hashtags" style="margin-right: 0.5rem;">#travel</span>
                            <span class="hashtags">#winter</span>
                        </div>
                     </div>
                     <!-- cofee wali div -->
                      <div class="coffee">
                        <!-- image -->
                         <div>
                            <img class="image" src="https://tailwindcss.com/img/card-left.jpg" alt="">
                         </div>
                         <!-- text -->
                          <div class="textcoffee">
                            <!-- upper -->
                             <div class="uppercoffee">
                                <div class="members">Members only</div>
                                <div>Can cofee make you a better developer?</div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iure voluptates nam. Pariatur, iste.</div>
                             </div>
                             <!-- lower -->
                              <div></div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
