<div class="body">
    <div class="w-100">
      <div>
       <form>
        <p class="formTitle">Login</p>
        <div class="nameBox">
            <label class="label">Username</label>
            <input type="text" class="inputField" placeholder="User Name">
        </div>
        <div class="passwordBox">
            <label class="label">Password</label>
            <input type="text" class="inputField" placeholder=" ****** ">
        </div>
        <div class="loginBox">
            <button class="login">Login</button>
            <a class=" forgetPs">Forget Password ?</a>
        </div>
        <a class="notRegsd" routerLink="Registerform"> Not Registered ?</a>
       </form>
      </div>
    </div>
</div>