<main>
    <!------------------Main--------------------------->
    <div class="body">
    <!-------------Card Section start here------------->
        <div class="row1">
    <!-------------Border Table------------>
            <div class="borderTable">
              <div class="heading">
                Bordered Table
              </div>
              <div class="tableBody">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="heading1">Title</th>
                            <th class="heading2">Author</th>
                            <th class="heading3">Views</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Intro to CSS</td>
                            <td>Adam</td>
                            <td>368</td>
                        </tr>
                        <tr>
                            <td>A Long and Winding Tour of the History of UI Frameworks and Tools and the Impact on Design</td>
                            <td>Adam</td>
                            <td>112</td>
                        </tr>
                        <tr>
                            <td>Into to Javascript</td>
                            <td>Chris</td>
                            <td>1180</td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
    <!-------------Colored Table------------>
        <div class="coloredTable">
            <div class="heading"> Colored Table</div>
            <div class="p-3">
              <table class="table2 w-100">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Views</th>
                    </tr>
                    <tr>
                        <td>Intro to CSS</td>
                        <td>Adam</td>
                        <td>368</td>
                    </tr>
                    <tr>
                        <td>A Long and Winding Tour of the History of UI Frameworks and Tools and the Impact on Design</td>
                        <td>Adam</td>
                        <td>112</td>
                    </tr>
                    <tr>
                        <td>Into to Javascript</td>
                        <td>Chris</td>
                        <td>1280</td>
                    </tr>
              </table>
            </div>
        </div>
        </div>
        <div class="row2">
    <!-------------Full Table------------>
         <div class="fullTable">
            <div class="heading">Full Table</div>
            <div class="body">
                <table class="table3">
                   <tr>
                    <th>Student Name</th>
                    <th>City</th>
                    <th>Course</th>
                    <th>Fee</th>
                    <th>Status</th>
                    <th>Actions</th>
                   </tr>
                   <tr>
                    <td>Alexa</td>
                    <td>Sydney</td>
                    <td>MS</td>
                    <td>900 $</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><a><i class="fas fa-eye"></i></a> <a><i class="fas fa-edit"></i></a> <a><i class="fas fa-trash"></i></a></td>
                   </tr>
                   <tr>
                    <td>Alexa</td>
                    <td>Sydney</td>
                    <td>MS</td>
                    <td>900 $</td>
                    <td><i class="fas fa-times"></i></td>
                    <td><a><i class="fas fa-eye"></i></a> <a><i class="fas fa-edit"></i></a> <a><i class="fas fa-trash"></i></a></td>
                   </tr>
                   <tr>
                    <td>Alexa</td>
                    <td>Sydney</td>
                    <td>MS</td>
                    <td>900 $</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><a><i class="fas fa-eye"></i></a> <a><i class="fas fa-edit"></i></a> <a><i class="fas fa-trash"></i></a></td>
                   </tr>
                   <tr>
                    <td>Alexa</td>
                    <td>Sydney</td>
                    <td>MS</td>
                    <td>900 $</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><a><i class="fas fa-eye"></i></a> <a><i class="fas fa-edit"></i></a> <a><i class="fas fa-trash"></i></a></td>
                   </tr>
                   <tr>
                    <td>Alexa</td>
                    <td>Sydney</td>
                    <td>MS</td>
                    <td>900 $</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><a><i class="fas fa-eye"></i></a> <a><i class="fas fa-edit"></i></a> <a><i class="fas fa-trash"></i></a></td>
                   </tr>
                   <tr>
                    <td>Alexa</td>
                    <td>Sydney</td>
                    <td>MS</td>
                    <td>900 $</td>
                    <td><i class="fas fa-check"></i></td>
                    <td><a><i class="fas fa-eye"></i></a> <a><i class="fas fa-edit"></i></a> <a><i class="fas fa-trash"></i></a></td>
                   </tr>
                </table>
            </div>
         </div>
        </div>
    </div>
</main>