<div class="outermost">

    <div class="upper">
        <div class="bordered">
            <div class="heading">Bordered Table</div>
            <div class="mainbody-left">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Views</th>
                        <th>Author</th>
                    </tr>

                    <tr>
                        <td>Intro to CSS</td>
                        <td>Adam</td>
                        <td>858</td>
                    </tr>

                    <tr>
                        <td>A Long and Winding Tour of the History of UI Frameworks and Tools and the Impact on Design</td>
                        <td>James</td>
                        <td>112</td>
                    </tr>

                    <tr>
                        <td>Intro to JavaScript</td>
                        <td>Chris</td>
                        <td>1,280</td>
                    </tr>
                </table>
            </div>
        </div>



        <div class="colored">
            <div class="heading">Colored Table</div>
            <div class="mainbody-right">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Views</th>
                        <th>Author</th>
                    </tr>

                    <tr>
                        <td>Intro to CSS</td>
                        <td>Adam</td>
                        <td>858</td>
                    </tr>

                    <tr>
                        <td>A Long and Winding Tour of the History of UI Frameworks and Tools and the Impact on Design</td>
                        <td>James</td>
                        <td>112</td>
                    </tr>

                    <tr>
                        <td>Intro to JavaScript</td>
                        <td>Chris</td>
                        <td>1,280</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>



    <div class="lower">
        <div class="full-table">
            <div class="heading">Full Table</div>
            <div class="mainbody">
                <table>
                    <tr>
                        <th>Student Name</th>
                        <th>City</th>
                        <th>Course</th>
                        <th>Fee</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>

                    <tr>
                        <td>Michael Clarke</td>
                        <td>Sydney</td>
                        <td>MS</td>
                        <td>$900</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fa fa-eye" aria-hidden="true"></i><i class="fas fa-edit    "></i><i class="fa fa-trash" aria-hidden="true"></i></td>
                    </tr>

                    <tr>
                        <td>Michael Clarke</td>
                        <td>Sydney</td>
                        <td>MS</td>
                        <td>$900</td>
                        <td><i class="fas fa-xmark"></i></td>
                        <td class="icon-flex"><i class="fa fa-eye" aria-hidden="true"></i><i class="fas fa-edit    "></i><i class="fa fa-trash" aria-hidden="true"></i></td>
                    </tr>

                    <tr>
                        <td>Michael Clarke</td>
                        <td>Sydney</td>
                        <td>MS</td>
                        <td>$900</td>
                        <td><i class="fas fa-check"></i></td>
                        <td class="icon-flex"><i class="fa fa-eye" aria-hidden="true"></i><i class="fas fa-edit    "></i><i class="fa fa-trash" aria-hidden="true"></i></td>
                    </tr>

                    <tr>
                        <td>Michael Clarke</td>
                        <td>Sydney</td>
                        <td>MS</td>
                        <td>$900</td>
                        <td><i class="fas fa-check"></i></td>
                        <td class="icon-flex"><i class="fa fa-eye" aria-hidden="true"></i><i class="fas fa-edit    "></i><i class="fa fa-trash" aria-hidden="true"></i></td>
                    </tr>

                    <tr>
                        <td>Michael Clarke</td>
                        <td>Sydney</td>
                        <td>MS</td>
                        <td>$900</td>
                        <td><i class="fas fa-check"></i></td>
                        <td class="icon-flex"><i class="fa fa-eye" aria-hidden="true"></i><i class="fas fa-edit    "></i><i class="fa fa-trash" aria-hidden="true"></i></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>