<div class="formss">
    <!-- topforms -->
     <div class="topforms">
        <!-- leftform -->
        <div class="leftform">
            <div class="inlineform">Inline Form</div>
            <div class="form1">
                <form action="">
                    <div>
                        <div class="fullname">
                            <div class="labelFullname">
                                <label for="">Full Name</label>
                            </div>
                            <div class="inputFullName">
                                <input class="input" type="text" placeholder="Jane Doe">
                            </div>
                        </div>
                        <div class="fullname">
                            <div class="labelFullname">
                                <label for="">Password</label>
                            </div>
                            <div class="inputFullName">
                                <input class="input" placeholder="****************" type="password">
                            </div>
                        </div>
                        <div class="checkboxMainDiv">
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                            <div class="checkboxText">
                                Send me your newsletter!
                            </div>
                        </div>
                        <div class="button">
                            <button class="innerButton btn">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="rightform">
            <div class="underlineForm">Underline Form</div>
            <div class="form2">
                <form style="width: 100%;" action="">
                    <div class="input1">
                        <input class="input" placeholder="Jane Doe" type="text">
                        <button class="signup btn">Sign Up</button>
                        <button class="cancel btn">Cancel</button>
                    </div>
                    <div style="border-bottom:1px solid #f56565;" class="input1">
                        <input class="input" placeholder="Jane Doe" type="text">
                        <button class="signup flex-shrink-0  btn">Sign Up</button>
                        <button class="cancel btn">Cancel</button>
                    </div>
                    <div class="input1">
                        <input class="input" placeholder="Jane Doe" type="text">
                        <button class="signup btn">Sign Up</button>
                        <button class="cancel btn" style="color: #38b2ac;">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
     </div>

     <!-- lowerForm -->
      <div class="lowerForm">
        <div class="lowerInner">
            <div class="lowerHeading">Form Grid</div>
            <div class="FormOuter">
                <form class="formInner" action="">
                    <div class="names">
                        <div class="firstName"> 
                            <div>
                                <label class="labelfirst" for="">First Name</label>
                            </div>
                            <div>
                                <input class="inputFirst" placeholder="Jane" type="text">
                            </div>
                            <p class="paragraph">Please fill out this field.</p>
                        </div>
                        <div class="firstName"> 
                            <div>
                                <label class="labelfirst" for="">Last Name</label>
                            </div>
                            <div>
                                <input class="inputlast" placeholder="Doe" type="text">
                            </div>
                        </div>
                        <div></div>
                    </div>

                    <div class="lowerPassword">
                        <div class="PasswordInner">
                            <div class="passwordLabel">
                                <label  for="">Password</label>
                            </div>
                            <input class="passwordInput" type="password" placeholder="************" name="" id="">
                            <p class="lowerpara">Make it as long and as crazy as
                                you'd like</p>
                        </div>
                    </div>

                    <div class="dropDown">
                        <div class="City">
                            <div class="cityLabel">
                                <label for="">CITY</label>
                            </div>
                            <div>
                                <input placeholder="Albuquerque" class="inputcity" type="text">
                            </div>
                        </div>
                        <div class="City">
                            <div class="cityLabel">
                                <label for="">STATE</label>
                            </div>
                            <div>
                                <select class="inputcity" name="" id="">
                                    <option>New Mexico</option>
                                    <option>New Mexico</option>
                                    <option>New Mexico</option>
                                </select>
                            </div>
                        </div>
                        <div class="City">
                            <div class="cityLabel">
                                <label for="">ZIP</label>
                            </div>
                            <div>
                                <input placeholder="91210" class="inputcity" type="text">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
</div>