<main class="p-3">
  <div class="body">
   <!--Form Row 1-->
   <div class="row1">
       <div class="form1">
         <div class="heading">
           inline Form
        </div>
        <div class="form1Body">
           <form class="w-100">
            <div class="fullNamebox">
             <div class="label">
               <label class="fullName">
                     Full Name
               </label>
             </div>
             <div class="FNInput">
               <input type="text" class="fullNameInput" placeholder="Jane Doe">
             </div>
            </div>
            <div class="fullNamebox">
             <div class="label">
               <label class="password">
                     Password
               </label>
             </div>
             <div class="PsInput">
               <input type="text" class="PasswordInput" placeholder="*****************">
             </div>
            </div>
            <div class="checkboxline">
               <div class="empty"></div>
               <label class="checkbox"><input type="checkbox">
               <span class="checkboxTxt">Send me your newsletter!</span></label>
            </div>
            <div class="Signup">
               <div class="empty"></div>
                 <div class="btnBox">
                   <button class="button">Sign Up</button>
                 </div>
            </div>
           </form>
         </div>
       </div>
       <div class="form2">
           <div class="heading">Underline Form</div>
           <div class="form2Body">
               <form class="w-100">
                <div class="line1"><input type="text" placeholder="Abdul Samad"><button class="btn1">Sign Up</button><button class="btn2">Cancel</button></div>
                <div class="line2"><input type="text" placeholder="Abdullah boi"><button class="btn1">Sign Up</button><button class="btn2">Cancel</button></div>
                <div class="line3"><input type="text" placeholder="Rafay Boi"><button class="btn1">Sign Up</button><button class="btn2">Cancel</button></div>
               </form>
           </div>
       </div>
   </div>
   <!--Grid Form-->
   <div class="gridOuter">
       <div class="gridInner">
           <div class="gridHeading">Form Grid</div>
           <div class="p-3">
               <form class="w-100 grid">
                 <div class="line1">
                   <div class="line1_1">
                      <label class="heading">FIRST NAME</label>
                      <input type="text" class="input1" placeholder="Jane">
                      <p class="txt">Please fill out this field.</p>
                   </div>
                    <div class="line1_2">
                      <label class="heading">LAST NAME</label>
                      <input type="text" class="input1" placeholder="Thomas">
                    </div>
                 </div>
                 <div class="line2">
                   <div class="w-100 px-3">
                     <label>PASSWORD</label>
                     <input type="text" placeholder="*****************">
                     <p>Make it as long and as crazy as you'd like</p>
                   </div>
                 </div>
                 <div class="line3">
                    <div class="citybox">
                     <label>CITY</label>
                     <input type="text" placeholder="Miami">
                    </div> 
                    <div class="statebox">
                     <label>STATE</label>
                     <input type="text" placeholder="Florida">
                    </div>
                    <div class="zipbox">
                     <label>ZIP</label>
                     <input type="text" placeholder="33101">
                    </div>
                 </div>
               </form>
           </div>
       </div>
   </div>
  </div>
</main>