<div class="main-Body">
    <div class="Outer-centerDiv">
        <div class="Inner-centerDiv">
            <form class="form" action="">
                    <div class="register-heading">Register</div>
                    <div>
                        <label class="label1" for="">Name</label>
                        <input class="input1" type="text" placeholder="Your name">
                    </div>
                    <div >
                        <label class="label1" for="">Email</label>
                        <input class="input1" style="padding-top: 1rem; padding-bottom: 1rem;" type="text" placeholder="Your Enail">
                    </div>
                    <div>
                        <label class="label1" for="">Address</label>
                        <input class="input1" type="text" placeholder="Street">
                    </div>
                    <div >
                        <input class="input1" style="margin-top: 0.5rem;" type="text" placeholder="City" name="" id="">
                    </div>
                    <div class="inputDiv">
                        <input  class="input2 " type="text" placeholder="Country" name="" id="">
                    </div>
                    <div >
                        <input  class="input2 " type="text" placeholder="Zip" name="" id="">
                    </div>
                    <div >
                        <button>Register</button>
                    </div>
                    <a href="">Already have an account?</a>
            </form>
        </div>
    </div>
</div>