<div class="outermost">
    
    <div class="drpside">
        <div routerLink="dashboard" class="nav-data">
            <div><i class="fa-solid fa-gauge"></i>Dashboard</div>
            <div><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>
        
        <div routerLink="forms" class="nav-data">
            <div><i class="fa-brands fa-wpforms"></i>Forms</div>
            <div><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>
        
        <div routerLink="buttons" class="nav-data">
            <div><i class="fa-solid fa-toggle-on"></i>Buttons</div>
            <div><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>
        
        <div routerLink="tables" class="nav-data">
            <div><i class="fa-solid fa-table"></i>Tables</div>
            <div><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>
        
        <div routerLink="Ui-components" class="nav-data">
            <div><i class="fa-brands fa-uikit"></i>Ui components</div>
            <div><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>
        
        <div class="nav-data">
            <div><i class="fa-solid fa-stop"></i>Modals</div>
            <div><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>
        
        <div class="nav-data">
            <div><i class="fa-solid fa-file"></i>Pages</div>
            <div><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>
        
        <div class="nav-data">
            <div>Login Page</div>
            <div><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>
        
        <div class="nav-data">
            <div>Register Page</div>
            <div><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>
        
        <div class="nav-data">
            <div>404 Page</div>
            <div><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>
        
    </div>

</div>