.outermost
{
    background-color: #ecf0f1;
    height: 100%;
}
    
.drpside
{
    width: 100%;
    min-height: 83vh;
    height: 100%;
}

.nav-data
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.nav-data-empty
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.nav-data-empty div
{
    margin: 10px;
}

.nav-data-empty > div > i
{
    padding-right: 3px;
    color: grey;
}

.nav-data:hover
{
    background-color: white;
}

.nav-data div
{
    margin: 10px;
}

.nav-data > div > i
{
    padding-right: 3px;
    color: grey;
}